<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - TalentHub">
        TalentHub
    </title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body>

<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Dynamic page content -->
<main layout:fragment="content">
    <!-- Page specific content goes here -->
</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>